<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{main/top}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>日記アプリ</title>
</head>
	<nav layout:fragment="header">
		<div class="fixed-top">
			 <ul class="navbar-expand-lg justify-content-end navbar-nav bg-dark main-nav d-flex align-items-center">
			<li class="nav-item">
       			<a class=" nav-item nav-link text-white mr-5 digest" th:href="@{/main/top}">トップ</a>
      			</li>
      			<li class="nav-item">
        		<a class="contribute nav-item nav-link text-white mr-5" th:href="@{/contribute/contribute}">投稿</a>
     			 </li>
     			 <li class="nav-item">
     			 <a class="profile-edit nav-item nav-link text-white mr-5" th:href="@{/profile/edit}">プロフィール編集</a>
     			 </li>
    		</ul>
		</div>
	</nav>
</html>