<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{main/top}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>
</head>
<nav layout:fragment="sidebar">
	<div class="wrapper">
		<h1 id="calendar_header"></h1>
		<div id="next-prev-button">
			<button id="calendar_prev" onclick="prev()">＜</button>
			<button id="calendar_next" onclick="next()">＞</button>
			</div>
			<div id="calendar"></div>
	</div>
	<div class="profile_box">
	<th:block th:if = "${profileForm == null}">
		<div class="box-title">プロフィール</div>
		<div id="profile_photo"  class="d-flex align-items-center justify-content-center"></div>
		<div class="profile_name">名前:<span id="profile_name">未設定</span></div>
		<ul>
			<li>性別:<span id="profile_gender">未設定</span></li>
			<li>誕生日:<span id="profile_birthday">未設定</span></li>
			<li>年齢:<span id="profile_age">未設定</span></li>
		</ul>
		<strong>自己紹介文</strong>
	</th:block>
	<th:block th:if = "${!(profileForm == null)}">
		<div class="box-title" th:object="${profileForm}">プロフィール</div>
		<div class="profile_center">
			<div id="profile_photo"  class="d-flex align-items-center justify-content-center" th:text="*{photo}"></div>
			<div class="profile_name">名前:<span id="profile_name" th:text="*{name}"></span></div>
		</div>
		<ul>
			<li>性別:<span id="profile_gender" th:text="*{gender}"></span></li>
			<li>誕生日:<span id="profile_birthday" th:text="*{#dates.format(birthday, 'YYYY/MM/dd')}"></span></li>
			<li>年齢:<span id="profile_age" th:text="*{age}"></span></li>
		</ul>
		<strong>自己紹介文</strong>
		<div id="profile_content" th:text="*{content}"></div>
	</th:block>
	</div>
</nav>

</html>