<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読込 -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/head/head.css}">
<link rel="stylesheet" th:href="@{/css/top/calendar.css}">
<link rel="stylesheet" th:href="@{/css/top/profile.css}">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<!--  JS読込 -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/top/calendar.js}"></script>
<title>プロフィール</title>
</head>
<body class="bg-light">
	<!-- ヘッダー -->
	<nav layout:replace="~{layout/header::header}"></nav>
	<div class="container" style="max-width: none; margin-top: 55px;">
		<div class="row">
			<div class="col-3 sidebar-content" >
				<nav layout:replace="~{layout/sidebar::sidebar}"></nav>
			</div>
			<div class="col main-content">
				<form id="profileEdit-form" method="post" action="/profile/new" class="form-profileEdit center-block ml-5 mr-5" th:object="${profileForm}">
					<h1 class="text-center mb-4" th:text="#{profile.edit.title}"></h1>
					<!-- プロフィール写真 -->
					<div class="form-group">
						<label for="photo" class="d-block">プロフィール写真</label>
						<input id="imageFile" type="file" accept="image/jpeg, image/png" onchange="changeToBase64()" />
						<input id="base64File" class="d-none" type="text" th:field="*{photo}" />
					</div>
					<!-- プロフィール名 -->
					<div class="form-group">
						<label for="name" th:text="#{name}"></label>
						<input type="text" class="form-control" th:field="*{name}" th:errorclass="is-invalid"/>
						<div class="invalid-feedback" th:errors="*{name}"></div>
					</div>
					<!-- 性別 -->
					<div class="form-group">
						<label th:text="#{gender}" class="d-block"></label>
						<div th:each="item : ${genderMap}" class="form-check-inline">
							<input type="radio" class="form-check-input" th:value="${item.value}" th:field="*{gender}"
							th:errorclass="is-invalid"/>
							<label class="form-check-label" th:text="${item.key}"></label>
						</div>
						<div class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
					</div>
					<!-- 誕生日 -->
					<div class="form-group">
						<label for="birthday" th:text="#{birthday}"></label>
						<input type="text" class="form-control" placeholder="yyyy/MM/dd" th:field="*{birthday}"
						th:errorclass="is-invalid"/>
						<div class="invalid-feedback" th:errors="*{birthday}"></div>
					</div>
					<!-- 年齢 -->
					<div class="form-group">
						<label for="age" th:text="#{age}"></label>
						<input type="text" class="form-control" th:field="*{age}" th:errorclass="is-invalid"/>
						<div class="invalid-feedback" th:errors="*{age}"></div>
					</div>
					<!-- 自己紹介文 -->
					<div class="form-group">
						<label for="content">自己紹介</label>
						<textarea type="text" rows="5" class="form-control" th:field="*{content}"></textarea>
					</div>
					<!-- 完了ボタン -->
					<input type="submit" th:value="#{user.profile.btn}" class="btn btn-primary w-100 mt-3"/>
				</form>
			</div>
		</div>
	</div>
	<script>
	
		window.onload = function() {
			showProcess(showDate);
			console.log('初期表示')
		}
		
		function changeToBase64() {
			const preview = document.querySelector('#base64File');
			const file = document.querySelector('input[type=file]').files[0];
			const reader = new FileReader();
			
			reader.addEventListener("load", function() {
				//画像ファイルをbase64文字列に変換
				 preview.value = reader.result;
			}, false);
			if (file) {
				reader.readAsDataURL(file);
			}
		}
	</script>
</body>
</html>