<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.demo.repository.DiaryMapper">
	<!-- マッピング定義 -->
	<resultMap type="com.example.demo.domain.user.model.MText" id="diary">
		<result column="day" property="day" />
		<result column="title" property="title" />
		<result column="face" property="face" />
		<result column="text" property="text" />
	</resultMap>
	<!-- 日記登録 -->
	<insert id="insertOne">
	  insert into m_diary(
	  	day,
	  	title,
	  	face,
	  	text
	  )
	  values (
	   #{day},
	   #{title},
	   #{face},
	   #{text}
	  )
 	</insert>
	<!-- 日記を日付で取得 -->
	 <select id="findOne" resultMap="diary">
	 	select * from m_diary where m_diary.day =#{day}
	 </select>
	 <!-- 日記全件取得 -->
	 <select id="findMany" resultType="MText">
	 	select * from m_diary
	 </select>
</mapper>